[submodule "src/openrobotics_darknet_ros"]
	path = src/openrobotics_darknet_ros
	url = https://github.com/ros2/openrobotics_darknet_ros.git
[submodule "src/livox_ros2_driver"]
	path = src/livox_ros2_driver
	url = https://github.com/Livox-SDK/livox_ros2_driver.git
[submodule "src/darknet_vendor"]
	path = src/darknet_vendor
	url = https://github.com/ros2/darknet_vendor.git
