[Unit]
Description = AI4DI experiment rpi-lidar
After = network-online.target
Requires = network-online.target
[Service]
User = root
WorkingDirectory = /home/ros/
ExecStart = /home/ros/ros2-ws-ai4di/daemon/rpi-lidar/rpi-lidar-startup.sh
Type = simple
TimeoutStopSec = 10
Restart = on-failure
RestartSec = 5
[Install]
WantedBy = multi-user.target
